<h2 class="section-title">Paginación de productos</h2>
<section class="products">
    <form class="products-query-form" action="/products">
        <label for="category">Categoría:</label>
        <input type="search" name="category" placeholder="Filtrar por categoría">
        <label for="sort">Orden:</label>
        <select name="sort" id="">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
        </select>
        <button type="submit">Buscar</button>
    </form>

    <div class="user-info">
        <h2>Bienvenido {{user.firstName}} {{user.lastName}}</h2>
        <h3>Datos del perfil:</h3>
        <p>Edad: {{user.age}}</p>
        <p>Email: {{user.email}}</p>
    </div>

    <div class="products-list">
        {{#each payload}}
        <article class="product" id="{{this.id}}">
            <img class="img" src="{{this.thumbnail}}">
            <h3 class="title">{{this.title}}</h3>
            <p class="code">Código: {{this.code}}</p>
            <p class="price">Precio: ${{this.price}}</p>
            <div class="product-item-buttons">
                <a href="/products/{{this.id}}"><button>Ver</button></a>
                <button onclick="addProductToCart('{{this.id}}')">Agregar al carrito</button>
            </div>
        </article>
        {{/each}}
    </div>
    <div class="page-nav">
        {{#if hasPrevPage}}
        <a href="{{prevLink}}" class="btn-prev">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="{{nextLink}}" class="btn-prev">Siguiente</a>
        {{/if}}
    </div>
</section>

<script src="/scripts/products.js"></script>